@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Alegreya', serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #03254E;
}

.butt {
  background-color: #007991;
}


.product, .announcement, .login, .cart, .footer{
  background-color: #BCD8C1
}

span {
  color: #007991;
}

h3, .logo2 {
  color: #03254E;
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAD0FF", endColorstr="#E3E3E3", GradientType=1 );

}
