@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #03254e;
}

.button-class:hover {
  color: #0c6fff;
}

.product,
.announcement,
.login,
.cart,
.footer {
  background-color: #f8f9fa;
}

h3,
.logo2 {
  color: #0c6fff;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAD0FF", endColorstr="#E3E3E3", GradientType=1 );
}
